---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++11

IndentWidth: 4
ColumnLimit: 120
IndentCaseLabels: true

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

SortIncludes: false

BreakBeforeBraces: Custom

BraceWrapping:
  AfterFunction: true
  AfterEnum: true
  AfterControlStatement: false
  AfterStruct: true
  AfterUnion: true
  SplitEmptyFunction: false
  BeforeElse: false
  BeforeWhile: false

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

BreakBeforeBinaryOperators: All

IndentPPDirectives: BeforeHash

BinPackArguments: false
BinPackParameters: false
